
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="../../../assets/img/logoHorizontal.png" width="210px" alt="eutrampo-logo" class="nav-img"></mat-toolbar>
    <mat-divider style="background-color:rgb(98, 48, 139);"></mat-divider>
    <mat-nav-list>
      <a class="nav-item" mat-list-item *ngFor="let item of itens" [routerLink]="[item.link]">
        <i class={{item.icon}}></i>
        <p>{{item.name}}</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
<div class="menu-toggle">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</div>
